/* Déclaration initiale */

* {
    box-sizing: border-box; /* box-sizing est appliqué à tous les éléments */
}

body {
    font-family: 'Botoro', sans-serif;
}

/* Tout les flex */

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexColumnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexColumnAround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flexColumnBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* header */

.policeTitre {
    font-family: 'Shrikhand', sans-serif;
}

.titleHoMyFood {
    border-bottom: 2px solid lightgray;
    width: 100%;
}

.titleCountry {
    background-color: #f0f0f0;
    width: 100%;
}

.ParisBelleVille {
    margin-left: 10px;
    background-color: #f2f2f2;
    padding: 4%;
    width: 40%;
}


/* Text et bouton */

.textReservezMenu {
    text-align: center;
    padding-top: 5%;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 0;

}

.texteDecrouvezRestaurant {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.textebouton{
    background-color: #f7f7f7;
}

.bouton {
    border-radius: 30px;
    background-color: #9356DC;
    border: solid 1px #f2f2f2;
    color:white;
    padding: 4%;
    box-shadow: inset 10px 20px 30px -5px #FF79DA ;
    margin-bottom: 13%;
    margin-top: 3%;   
}

/* Fonctionnment et reservation */

/*Fonctionnement */

#Fonctionnement {
    margin-left: 5%;
    margin-right: 5%;
}

.paddingTop{
    padding-top: 7%;
}

.bouton1 {
    border-radius: 20px;
    background-color: #f9f9f9;
    border: solid 1px #f2f2f2;
    width: 95%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 5%;
    box-shadow: 0px 10px 10px #f2f2f2;
    transition: transform .2s;
}

.bouton1:hover {
    background-color: #f3e6ff ;
    transform: scale(1.05)
}

.bouton1:hover > .miniRond {
    margin-right: 100%;
}

.bouton1:hover > input {
    background-color: #f3e6ff ;
}

.colorIcon {
    color: grey;
}

input {
    border: none;
    background-color: #f9f9f9;
    padding-left: 30px;
}

.miniRond{
    position: absolute;
    border-radius: 10px;
    background-color: #9356DC;
    height: 20px;
    width: 20px;
    color: white;
    margin-right: 85%
}

/* Restaurants */

#Restaurants {
    margin-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 6%;
    padding-bottom: 15%;
    width: 100%;
    background-color: #f7f7f7;
}

.sizeRestaurants{
    width: 100%;
    height: 1200px;
    margin-top: 0px; 
}

.paddingLeft {
    margin-top: 6%;
    margin-bottom: 5%;
    padding-left: 2%;
    height: 60px;
    width: 100%;
}

.noColor{
    text-decoration: none;
    color: black;
}

.designCard{
    height: 30%;
    width: 95%;
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    margin-bottom: 25px;
    box-shadow: 0px 10px 10px LightGrey;
}

.imgCard1{ 
    background-image: url("../images/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0 ;
    width: 100%;
    height: 190px;
    display: flex;
    justify-content: end;

}

.imgCard2{
    background-image: url("../images/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0 ;
    width: 100%;
    height: 190px;
    display: flex;
    justify-content: end;
}

.imgCard3{
    background-image: url("../images/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0 ;
    width: 100%;
    height: 190px;
}

.imgCard4{
    background-image: url("../images/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0 ;
    width: 100%;
    height: 190px;
}

.textCard {
    margin: 0px;
    padding-bottom: 2%;
}

.textCard1234 {
    padding-left: 10px;
    padding-bottom: 3%;
    margin-left: 5px;
    margin-top: 10px;
}

.carreVert {
    background-color: #99E2D0;
    width: auto;
    height: 30px;
    margin-top: 20px;
    margin-right: 5%;
    border-radius: 5%;
    background-clip: content-box;    
    
}

.textBoutonVert {
    margin: 0px;
    padding: 5px;
    color: #3CB371;
}

.logo{
    margin-right: 15px;
    margin-top: 15px;
    padding-bottom: 3%;
}

.fa-heart::before {
    transition: color 1s ease-out;
}
.fa-heart:hover{
    color: #9356DC;
    cursor: pointer;
    font-weight: bold;
}


/* footer */

footer {
    background-color: #3A3230;
    padding-left: 10%;
    padding-bottom: 8%;
    padding-top: 3%;
}

.titreFooter {
    color: white;
}

.textFooter {
    margin: 0px;
    color: white;
    padding: 1%;
}

.flexCenterFooter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.colorIcon1 {
    color: white;
    margin-right: 15px;
}

.colorIcon2{
    color: white;
    margin-right: 10px;
}
